name: Build & Push Ferryx-Hub

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

env:
  IMAGE_NAME: unholyw4r/ferryx-hub   # <-- değiştir (DockerHub repo)
  DOCKERFILE: Ferryx-Hub/Dockerfile      # <-- Dockerfile konumu (root ise: Dockerfile)
  CONTEXT: .                             # build context

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate tags
        id: meta
        run: |
          SHORT_SHA="${GITHUB_SHA::7}"
          echo "short_sha=$SHORT_SHA" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ${{ env.CONTEXT }}
          file: ${{ env.DOCKERFILE }}
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.short_sha }}
            ${{ env.IMAGE_NAME }}:latest
          # İstersen cache ekleyebilirsin:
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
